
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background-color: #f3f1f1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  height: 10rem;
  font-size: 1.4rem;
  font-weight: bold;
}

header ul {
  flex: 1;
  list-style-type: none;
  display: flex;
}

header ul li a {
  color: #000;
  padding: 0 1.6rem;
  text-decoration: none;
}

.borde {
  border-radius: 2.4rem;
  background-color: #1c1c1c;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

.borde:hover {
  background-color: #333;
}

.padding {
  padding-top: 17px;
}

.search {
  display: flex;
  align-items: center;
  width: 28.5rem;
  background-color: #fff;
  border-radius: 2.4rem;
  padding: 0 2.4rem;
}

.search>input {
  border: none;
  background-color: transparent;
}

.search>input:focus {
  border: none;
  outline: none;
}

.search-icon {
  margin-right: 1rem;
  height: 1.4rem;
  width: 1.6rem;
  fill: #6e6d7a;
}

header img {
  margin-right: 2rem;
}

main {
  background-color: #f3f1f1;
  color: #333;
  font-family: 'Georgia', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0;
}

.container {
  text-align: center;
  padding: 20px;
  font-size: 120%;
}

.badge {
  background-color: #d9aefc;
  color: #4a235a;
  padding: 5px 20px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
}

.main-heading {
  font-size: 5rem;
  font-weight: bold;
  margin: 10px 50px;
  color: #232323;
  list-style-type: none;
}

.sub-heading {
  list-style-type: none;
  margin-bottom: 30px;
  color: #0a0a0a;
  padding: 5px 0;
}
